In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("brazilcovid19.csv")
df

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

Patient ID                                                  0
Patient age quantile                                        0
SARS-Cov-2 exam result                                      0
Patient addmited to regular ward (1=yes, 0=no)              0
Patient addmited to semi-intensive unit (1=yes, 0=no)       0
                                                         ...
HCO3 (arterial blood gas analysis)                       5617
pO2 (arterial blood gas analysis)                        5617
Arteiral Fio2                                            5624
Phosphor                                                 5624
ctO2 (arterial blood gas analysis)                       5617
Length: 111, dtype: int64

In [5]:
df.columns

Index(['Patient ID', 'Patient age quantile', 'SARS-Cov-2 exam result',
       'Patient addmited to regular ward (1=yes, 0=no)',
       'Patient addmited to semi-intensive unit (1=yes, 0=no)',
       'Patient addmited to intensive care unit (1=yes, 0=no)', 'Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean platelet volume ',
       ...
       'Hb saturation (arterial blood gases)',
       'pCO2 (arterial blood gas analysis)',
       'Base excess (arterial blood gas analysis)',
       'pH (arterial blood gas analysis)',
       'Total CO2 (arterial blood gas analysis)',
       'HCO3 (arterial blood gas analysis)',
       'pO2 (arterial blood gas analysis)', 'Arteiral Fio2', 'Phosphor',
       'ctO2 (arterial blood gas analysis)'],
      dtype='object', length=111)

In [6]:
df1=df.iloc[:,0:20]
df1

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,Mean corpuscular hemoglobin concentration (MCHC),Leukocytes,Basophils,Mean corpuscular hemoglobin (MCH),Eosinophils,Mean corpuscular volume (MCV),Monocytes,Red blood cell distribution width (RDW)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,0.102004,0.318366,-0.950790,-0.094610,-0.223767,-0.292269,1.482158,0.166192,0.357547,-0.625073
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,0.578024,-0.295726,-0.353319,-1.288428,-1.140144,-0.135455,-0.835508,0.025985,0.567652,-0.182790

In [7]:
df1.isnull().sum()

Patient ID                                                  0
Patient age quantile                                        0
SARS-Cov-2 exam result                                      0
Patient addmited to regular ward (1=yes, 0=no)              0
Patient addmited to semi-intensive unit (1=yes, 0=no)       0
Patient addmited to intensive care unit (1=yes, 0=no)       0
Hematocrit                                               5041
Hemoglobin                                               5041
Platelets                                                5042
Mean platelet volume                                     5045
Red blood Cells                                          5042
Lymphocytes                                              5042
Mean corpuscular hemoglobin concentration (MCHC)         5042
Leukocytes                                               5042
Basophils                                                5042
Mean corpuscular hemoglobin (MCH)                        5042
Eosinophils                                              5042
Mean corpuscular volume (MCV)                            5042
Monocytes                                                5043
Red blood cell distribution width (RDW)                  5042
dtype: int64

In [8]:
df1.columns

Index(['Patient ID', 'Patient age quantile', 'SARS-Cov-2 exam result',
       'Patient addmited to regular ward (1=yes, 0=no)',
       'Patient addmited to semi-intensive unit (1=yes, 0=no)',
       'Patient addmited to intensive care unit (1=yes, 0=no)', 'Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean platelet volume ', 'Red blood Cells',
       'Lymphocytes', 'Mean corpuscular hemoglobin concentration (MCHC)',
       'Leukocytes', 'Basophils', 'Mean corpuscular hemoglobin (MCH)',
       'Eosinophils', 'Mean corpuscular volume (MCV)', 'Monocytes',
       'Red blood cell distribution width (RDW)'],
      dtype='object')

In [9]:
df1.dtypes

Patient ID                                                object
Patient age quantile                                       int64
SARS-Cov-2 exam result                                    object
Patient addmited to regular ward (1=yes, 0=no)             int64
Patient addmited to semi-intensive unit (1=yes, 0=no)      int64
Patient addmited to intensive care unit (1=yes, 0=no)      int64
Hematocrit                                               float64
Hemoglobin                                               float64
Platelets                                                float64
Mean platelet volume                                     float64
Red blood Cells                                          float64
Lymphocytes                                              float64
Mean corpuscular hemoglobin concentration (MCHC)         float64
Leukocytes                                               float64
Basophils                                                float64
Mean corpuscular hemoglobin (MCH)                        float64
Eosinophils                                              float64
Mean corpuscular volume (MCV)                            float64
Monocytes                                                float64
Red blood cell distribution width (RDW)                  float64
dtype: object

In [10]:
df2=df.iloc[:,20:40]
df2

,Serum Glucose,Respiratory Syncytial Virus,Influenza A,Influenza B,Parainfluenza 1,CoronavirusNL63,Rhinovirus/Enterovirus,Mycoplasma pneumoniae,Coronavirus HKU1,Parainfluenza 3,Chlamydophila pneumoniae,Adenovirus,Parainfluenza 4,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,Neutrophils
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.140648,not_detected,not_detected,not_detected,not_detected,not_detected,detected,NaN,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,-0.619086
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,not_detected,not_detected,not_detected,not_detected,not_detected,detected,NaN,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380685

In [11]:
df2.isnull().sum()

Serum Glucose                  5436
Respiratory Syncytial Virus    4290
Influenza A                    4290
Influenza B                    4290
Parainfluenza 1                4292
CoronavirusNL63                4292
Rhinovirus/Enterovirus         4292
Mycoplasma pneumoniae          5644
Coronavirus HKU1               4292
Parainfluenza 3                4292
Chlamydophila pneumoniae       4292
Adenovirus                     4292
Parainfluenza 4                4292
Coronavirus229E                4292
CoronavirusOC43                4292
Inf A H1N1 2009                4292
Bordetella pertussis           4292
Metapneumovirus                4292
Parainfluenza 2                4292
Neutrophils                    5131
dtype: int64

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
f = df[['Hematocrit','Hemoglobin','Platelets', 'Mean platelet volume ', 'Red blood Cells',
       'Lymphocytes', 'Leukocytes', 'Basophils', 'Mean corpuscular hemoglobin (MCH)',
       'Eosinophils', 'Mean corpuscular volume (MCV)', 'Monocytes',
       'Red blood cell distribution width (RDW)']]
for k in f:
    X=df[k]
    imp=SimpleImputer(missing_values=np.NaN,strategy='mean')
    X=imp.fit_transform((X).values.reshape(-1,1))
    df[k]=X

In [14]:
df.head()

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,-2.187396e-09,-1.598342e-08,-3.820598e-10,7.373957e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,2.365154e-01,-2.234027e-02,-5.174130e-01,1.067657e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,-2.187396e-09,-1.598342e-08,-3.820598e-10,7.373957e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,-2.187396e-09,-1.598342e-08,-3.820598e-10,7.373957e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,-2.187396e-09,-1.598342e-08,-3.820598e-10,7.373957e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.columns

Index(['Serum Glucose', 'Respiratory Syncytial Virus', 'Influenza A',
       'Influenza B', 'Parainfluenza 1', 'CoronavirusNL63',
       'Rhinovirus/Enterovirus', 'Mycoplasma pneumoniae', 'Coronavirus HKU1',
       'Parainfluenza 3', 'Chlamydophila pneumoniae', 'Adenovirus',
       'Parainfluenza 4', 'Coronavirus229E', 'CoronavirusOC43',
       'Inf A H1N1 2009', 'Bordetella pertussis', 'Metapneumovirus',
       'Parainfluenza 2', 'Neutrophils'],
      dtype='object')

In [16]:
df2.dtypes

Serum Glucose                  float64
Respiratory Syncytial Virus     object
Influenza A                     object
Influenza B                     object
Parainfluenza 1                 object
CoronavirusNL63                 object
Rhinovirus/Enterovirus          object
Mycoplasma pneumoniae          float64
Coronavirus HKU1                object
Parainfluenza 3                 object
Chlamydophila pneumoniae        object
Adenovirus                      object
Parainfluenza 4                 object
Coronavirus229E                 object
CoronavirusOC43                 object
Inf A H1N1 2009                 object
Bordetella pertussis            object
Metapneumovirus                 object
Parainfluenza 2                 object
Neutrophils                    float64
dtype: object

In [17]:
df3=df.iloc[:,40:60]
df3.isnull().sum()

Urea                                         5247
Proteina C reativa mg/dL                     5138
Creatinine                                   5220
Potassium                                    5273
Sodium                                       5274
Influenza B, rapid test                      4824
Influenza A, rapid test                      4824
Alanine transaminase                         5419
Aspartate transaminase                       5418
Gamma-glutamyltransferase                    5491
Total Bilirubin                              5462
Direct Bilirubin                             5462
Indirect Bilirubin                           5462
Alkaline phosphatase                         5500
Ionized calcium                              5594
Strepto A                                    5312
Magnesium                                    5604
pCO2 (venous blood gas analysis)             5508
Hb saturation (venous blood gas analysis)    5508
Base excess (venous blood gas analysis)      5508
dtype: int64

In [18]:
df3.dtypes

Urea                                         float64
Proteina C reativa mg/dL                     float64
Creatinine                                   float64
Potassium                                    float64
Sodium                                       float64
Influenza B, rapid test                       object
Influenza A, rapid test                       object
Alanine transaminase                         float64
Aspartate transaminase                       float64
Gamma-glutamyltransferase                    float64
Total Bilirubin                              float64
Direct Bilirubin                             float64
Indirect Bilirubin                           float64
Alkaline phosphatase                         float64
Ionized calcium                              float64
Strepto A                                     object
Magnesium                                    float64
pCO2 (venous blood gas analysis)             float64
Hb saturation (venous blood gas analysis)    float64
Base excess (venous blood gas analysis)      float64
dtype: object

In [19]:
df4=df.iloc[:,60:85]
df4.isnull().sum()

pO2 (venous blood gas analysis)          5508
Fio2 (venous blood gas analysis)         5643
Total CO2 (venous blood gas analysis)    5508
pH (venous blood gas analysis)           5508
HCO3 (venous blood gas analysis)         5508
Rods #                                   5547
Segmented                                5547
Promyelocytes                            5547
Metamyelocytes                           5547
Myelocytes                               5547
Myeloblasts                              5547
Urine - Esterase                         5584
Urine - Aspect                           5574
Urine - pH                               5574
Urine - Hemoglobin                       5574
Urine - Bile pigments                    5574
Urine - Ketone Bodies                    5587
Urine - Nitrite                          5643
Urine - Density                          5574
Urine - Urobilinogen                     5575
Urine - Protein                          5584
Urine - Sugar                            5644
Urine - Leukocytes                       5574
Urine - Crystals                         5574
Urine - Red blood cells                  5574
dtype: int64

In [20]:
df5=df.iloc[:,85:111]
df5.isnull().sum()

Urine - Hyaline cylinders                    5577
Urine - Granular cylinders                   5575
Urine - Yeasts                               5574
Urine - Color                                5574
Partial thromboplastin time (PTT)            5644
Relationship (Patient/Normal)                5553
International normalized ratio (INR)         5511
Lactic Dehydrogenase                         5543
Prothrombin time (PT), Activity              5644
Vitamin B12                                  5641
Creatine phosphokinase (CPK)                 5540
Ferritin                                     5621
Arterial Lactic Acid                         5617
Lipase dosage                                5636
D-Dimer                                      5644
Albumin                                      5631
Hb saturation (arterial blood gases)         5617
pCO2 (arterial blood gas analysis)           5617
Base excess (arterial blood gas analysis)    5617
pH (arterial blood gas analysis)             5617
Total CO2 (arterial blood gas analysis)      5617
HCO3 (arterial blood gas analysis)           5617
pO2 (arterial blood gas analysis)            5617
Arteiral Fio2                                5624
Phosphor                                     5624
ctO2 (arterial blood gas analysis)           5617
dtype: int64

In [21]:
df1.columns

Index(['Patient ID', 'Patient age quantile', 'SARS-Cov-2 exam result',
       'Patient addmited to regular ward (1=yes, 0=no)',
       'Patient addmited to semi-intensive unit (1=yes, 0=no)',
       'Patient addmited to intensive care unit (1=yes, 0=no)', 'Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean platelet volume ', 'Red blood Cells',
       'Lymphocytes', 'Mean corpuscular hemoglobin concentration (MCHC)',
       'Leukocytes', 'Basophils', 'Mean corpuscular hemoglobin (MCH)',
       'Eosinophils', 'Mean corpuscular volume (MCV)', 'Monocytes',
       'Red blood cell distribution width (RDW)'],
      dtype='object')

In [22]:
df2.columns

Index(['Serum Glucose', 'Respiratory Syncytial Virus', 'Influenza A',
       'Influenza B', 'Parainfluenza 1', 'CoronavirusNL63',
       'Rhinovirus/Enterovirus', 'Mycoplasma pneumoniae', 'Coronavirus HKU1',
       'Parainfluenza 3', 'Chlamydophila pneumoniae', 'Adenovirus',
       'Parainfluenza 4', 'Coronavirus229E', 'CoronavirusOC43',
       'Inf A H1N1 2009', 'Bordetella pertussis', 'Metapneumovirus',
       'Parainfluenza 2', 'Neutrophils'],
      dtype='object')

In [23]:
df3.columns

Index(['Urea', 'Proteina C reativa mg/dL', 'Creatinine', 'Potassium', 'Sodium',
       'Influenza B, rapid test', 'Influenza A, rapid test',
       'Alanine transaminase', 'Aspartate transaminase',
       'Gamma-glutamyltransferase ', 'Total Bilirubin', 'Direct Bilirubin',
       'Indirect Bilirubin', 'Alkaline phosphatase', 'Ionized calcium ',
       'Strepto A', 'Magnesium', 'pCO2 (venous blood gas analysis)',
       'Hb saturation (venous blood gas analysis)',
       'Base excess (venous blood gas analysis)'],
      dtype='object')

In [24]:
df4.columns

Index(['pO2 (venous blood gas analysis)', 'Fio2 (venous blood gas analysis)',
       'Total CO2 (venous blood gas analysis)',
       'pH (venous blood gas analysis)', 'HCO3 (venous blood gas analysis)',
       'Rods #', 'Segmented', 'Promyelocytes', 'Metamyelocytes', 'Myelocytes',
       'Myeloblasts', 'Urine - Esterase', 'Urine - Aspect', 'Urine - pH',
       'Urine - Hemoglobin', 'Urine - Bile pigments', 'Urine - Ketone Bodies',
       'Urine - Nitrite', 'Urine - Density', 'Urine - Urobilinogen',
       'Urine - Protein', 'Urine - Sugar', 'Urine - Leukocytes',
       'Urine - Crystals', 'Urine - Red blood cells'],
      dtype='object')

In [25]:
df5.columns

Index(['Urine - Hyaline cylinders', 'Urine - Granular cylinders',
       'Urine - Yeasts', 'Urine - Color', 'Partial thromboplastin time (PTT) ',
       'Relationship (Patient/Normal)', 'International normalized ratio (INR)',
       'Lactic Dehydrogenase', 'Prothrombin time (PT), Activity',
       'Vitamin B12', 'Creatine phosphokinase (CPK) ', 'Ferritin',
       'Arterial Lactic Acid', 'Lipase dosage', 'D-Dimer', 'Albumin',
       'Hb saturation (arterial blood gases)',
       'pCO2 (arterial blood gas analysis)',
       'Base excess (arterial blood gas analysis)',
       'pH (arterial blood gas analysis)',
       'Total CO2 (arterial blood gas analysis)',
       'HCO3 (arterial blood gas analysis)',
       'pO2 (arterial blood gas analysis)', 'Arteiral Fio2', 'Phosphor',
       'ctO2 (arterial blood gas analysis)'],
      dtype='object')

In [40]:
df=df.drop(['Urine - Hyaline cylinders', 'Urine - Granular cylinders','Urine - Yeasts', 'Urine - Color', 'Relationship (Patient/Normal)', 'International normalized ratio (INR)',
       'Lactic Dehydrogenase', 'Prothrombin time (PT), Activity','Vitamin B12', 'Ferritin',
       'Arterial Lactic Acid', 'Lipase dosage', 'D-Dimer', 'Albumin','Hb saturation (arterial blood gases)',
       'pCO2 (arterial blood gas analysis)','Base excess (arterial blood gas analysis)','pH (arterial blood gas analysis)',
       'Total CO2 (arterial blood gas analysis)','HCO3 (arterial blood gas analysis)','pO2 (arterial blood gas analysis)', 'Arteiral Fio2', 'Phosphor',
       'ctO2 (arterial blood gas analysis)','pO2 (venous blood gas analysis)', 'Fio2 (venous blood gas analysis)',
       'Total CO2 (venous blood gas analysis)','pH (venous blood gas analysis)', 'HCO3 (venous blood gas analysis)',
       'Rods #', 'Segmented', 'Promyelocytes', 'Metamyelocytes', 'Myelocytes','Myeloblasts', 'Urine - Esterase', 'Urine - Aspect', 'Urine - pH',
       'Urine - Hemoglobin', 'Urine - Bile pigments', 'Urine - Ketone Bodies','Urine - Nitrite', 'Urine - Density', 'Urine - Urobilinogen',
       'Urine - Protein', 'Urine - Sugar', 'Urine - Leukocytes','Urine - Crystals', 'Urine - Red blood cells','Urea', 'Proteina C reativa mg/dL', 'Creatinine', 'Potassium', 'Sodium',
       'Influenza B, rapid test', 'Influenza A, rapid test','Alanine transaminase', 'Aspartate transaminase',
       'Total Bilirubin', 'Direct Bilirubin','Indirect Bilirubin', 'Alkaline phosphatase', 'Strepto A', 'Magnesium', 'pCO2 (venous blood gas analysis)','Hb saturation (venous blood gas analysis)',
       'Base excess (venous blood gas analysis)','Serum Glucose','Mycoplasma pneumoniae','Neutrophils','Hematocrit',
       'Hemoglobin', 'Platelets', 'Mean platelet volume ', 'Red blood Cells',
       'Lymphocytes', 'Leukocytes', 'Basophils', 'Mean corpuscular hemoglobin (MCH)',
       'Eosinophils', 'Mean corpuscular volume (MCV)', 'Monocytes',
       'Red blood cell distribution width (RDW)',],axis=1)

KeyError: "['Urine - Hyaline cylinders' 'Urine - Granular cylinders' 'Urine - Yeasts'\n 'Urine - Color' 'Relationship (Patient/Normal)'\n 'International normalized ratio (INR)' 'Lactic Dehydrogenase'\n 'Prothrombin time (PT), Activity' 'Vitamin B12' 'Ferritin'\n 'Arterial Lactic Acid' 'Lipase dosage' 'D-Dimer' 'Albumin'\n 'Hb saturation (arterial blood gases)'\n 'pCO2 (arterial blood gas analysis)'\n 'Base excess (arterial blood gas analysis)'\n 'pH (arterial blood gas analysis)'\n 'Total CO2 (arterial blood gas analysis)'\n 'HCO3 (arterial blood gas analysis)' 'pO2 (arterial blood gas analysis)'\n 'Arteiral Fio2' 'Phosphor' 'ctO2 (arterial blood gas analysis)'\n 'pO2 (venous blood gas analysis)' 'Fio2 (venous blood gas analysis)'\n 'Total CO2 (venous blood gas analysis)' 'pH (venous blood gas analysis)'\n 'HCO3 (venous blood gas analysis)' 'Rods #' 'Segmented' 'Promyelocytes'\n 'Metamyelocytes' 'Myelocytes' 'Myeloblasts' 'Urine - Esterase'\n 'Urine - Aspect' 'Urine - pH' 'Urine - Hemoglobin'\n 'Urine - Bile pigments' 'Urine - Ketone Bodies' 'Urine - Nitrite'\n 'Urine - Density' 'Urine - Urobilinogen' 'Urine - Protein'\n 'Urine - Sugar' 'Urine - Leukocytes' 'Urine - Crystals'\n 'Urine - Red blood cells' 'Urea' 'Proteina C reativa mg/dL' 'Creatinine'\n 'Potassium' 'Sodium' 'Influenza B, rapid test' 'Influenza A, rapid test'\n 'Alanine transaminase' 'Aspartate transaminase' 'Total Bilirubin'\n 'Direct Bilirubin' 'Indirect Bilirubin' 'Alkaline phosphatase'\n 'Strepto A' 'Magnesium' 'pCO2 (venous blood gas analysis)'\n 'Hb saturation (venous blood gas analysis)'\n 'Base excess (venous blood gas analysis)' 'Serum Glucose'\n 'Mycoplasma pneumoniae' 'Neutrophils' 'Hematocrit' 'Hemoglobin'\n 'Platelets' 'Mean platelet volume ' 'Red blood Cells' 'Lymphocytes'\n 'Leukocytes' 'Basophils' 'Mean corpuscular hemoglobin (MCH)'\n 'Eosinophils' 'Mean corpuscular volume (MCV)' 'Monocytes'\n 'Red blood cell distribution width (RDW)'] not found in axis"

In [36]:
df

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Mean corpuscular hemoglobin concentration (MCHC),Respiratory Syncytial Virus,Influenza A,Influenza B,...,Coronavirus229E,CoronavirusOC43,Inf A H1N1 2009,Bordetella pertussis,Metapneumovirus,Parainfluenza 2,Gamma-glutamyltransferase,Ionized calcium,Partial thromboplastin time (PTT),Creatine phosphokinase (CPK)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,-0.950790,not_detected,not_detected,not_detected,...,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,not_detected,not_detected,not_detected,...,not_detected,not_detected,not_detected,not_detected,not_detected,not_detected,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,-0.353319,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.420454,NaN,NaN,-0.343291

In [37]:
df.isnull().sum()

Patient ID                                                  0
Patient age quantile                                        0
SARS-Cov-2 exam result                                      0
Patient addmited to regular ward (1=yes, 0=no)              0
Patient addmited to semi-intensive unit (1=yes, 0=no)       0
Patient addmited to intensive care unit (1=yes, 0=no)       0
Mean corpuscular hemoglobin concentration (MCHC)         5042
Respiratory Syncytial Virus                              4290
Influenza A                                              4290
Influenza B                                              4290
Parainfluenza 1                                          4292
CoronavirusNL63                                          4292
Rhinovirus/Enterovirus                                   4292
Coronavirus HKU1                                         4292
Parainfluenza 3                                          4292
Chlamydophila pneumoniae                                 4292
Adenovirus                                               4292
Parainfluenza 4                                          4292
Coronavirus229E                                          4292
CoronavirusOC43                                          4292
Inf A H1N1 2009                                          4292
Bordetella pertussis                                     4292
Metapneumovirus                                          4292
Parainfluenza 2                                          4292
Gamma-glutamyltransferase                                5491
Ionized calcium                                          5594
Partial thromboplastin time (PTT)                        5644
Creatine phosphokinase (CPK)                             5540
dtype: int64

In [38]:
df.columns

Index(['Patient ID', 'Patient age quantile', 'SARS-Cov-2 exam result',
       'Patient addmited to regular ward (1=yes, 0=no)',
       'Patient addmited to semi-intensive unit (1=yes, 0=no)',
       'Patient addmited to intensive care unit (1=yes, 0=no)',
       'Mean corpuscular hemoglobin concentration (MCHC)',
       'Respiratory Syncytial Virus', 'Influenza A', 'Influenza B',
       'Parainfluenza 1', 'CoronavirusNL63', 'Rhinovirus/Enterovirus',
       'Coronavirus HKU1', 'Parainfluenza 3', 'Chlamydophila pneumoniae',
       'Adenovirus', 'Parainfluenza 4', 'Coronavirus229E', 'CoronavirusOC43',
       'Inf A H1N1 2009', 'Bordetella pertussis', 'Metapneumovirus',
       'Parainfluenza 2', 'Gamma-glutamyltransferase ', 'Ionized calcium ',
       'Partial thromboplastin time (PTT) ', 'Creatine phosphokinase (CPK) '],
      dtype='object')

# TASK 1

QUESTION1: Predict confirmed COVID-19 cases among suspected cases.
Based on the results of laboratory tests commonly collected for a suspected COVID-19 case during a visit to the emergency room, would it be possible to predict the test result for SARS-Cov-2 (positive/negative)?

ANSWER: As almost all the attributes mentioned in this dataset are having NULL - VALUES and we dnt have the details on the basis of which we can predict if he individual is having Covid19 or not, so, "IT IS NOT POSSIBLE ON THE BASIS OF THIS DATA WE HAVE, TO PREDICT THE TEST RESULT OF THIS SARS-COV2(POSITIVE/NAGATIVE)"

# TASK 2

QUESTION 2: Predict admission to general ward, semi-intensive unit or intensive care unit among confirmed COVID-19 cases.
Based on the results of laboratory tests commonly collected among confirmed COVID-19 cases during a visit to the emergency room, would it be possible to predict which patients will need to be admitted to a general ward, semi-intensive unit or intensive care unit?

ANSWER: ON the basis on the data we have in this data-set most of the values in the attributes/columns are null and because of that we cant judge anything and cant make any sort of predictions, so we can answer the question as "NO, IT IS NOT POSSBLE TO PREDICT WHICH PATIENT IS GOING TO ADMIT IN WHICH WARD AS ALMOST ALL THE LABORATORY TESTS RESULTS ARE NULL AND ONE CANT OREDICT ANYTHING OUT OF THOSE NULL VALUES "